*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    gap: 33.05px;
    margin-left: 50px;
}

.header .title {
    color: #442292;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 28px;
}

.wrapper {
    margin-top: 129px;
    margin-left: 194px;
}

.wrapper .head .title {
    color: #000;
    font-size: 32px;
    font-family: Inter, sans-serif;
    font-weight: 600;  
    margin-bottom: 39px;
}

.wrapper ul {
    list-style: none;
    margin-left: -30px;
}

.wrapper ul li p {
    text-transform: uppercase;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrap {
    margin-top: 98px;
}

.form ul li input {
    width: 348px;
    height: 50px;
    /* border: none ; */
}

.btn {
    margin-left: -10px;
}

.btn-login {
    width: 348px;
    height: 48px;
    background-color: #452393;
    color: #FFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: Inter, sans-serif;
}

.support {
    margin-left: 30px;    
}

.support img {
    margin-right: 16px;
}

.support span {
    color: #78777B;
    font-size: 18px;
    font-family: Manrope, sans-serif;
    font-weight: 600;
}

.support span span {
    color: #354C9F;    
}

.form input[type="username"],
.form input[type="password"] {
    border: 1px solid #8F9BB3; 
    transition: border-color 0.3s ease;
}

.form input[type="username"]:focus,
.form input[type="password"]:focus {
    border-color: #8F9BB3 !important;
    font-family: Inter, sans-serif;
    font-weight: 400;
}








